.containerBody{
    overflow: hidden;
    margin: 0 auto 30px;
    border: solid 3px;
    border-radius: 10px; 
    background: #fff;
    width: 500px;
    border-color: black;

    
}
.container{
    padding-bottom: 10px;
    margin: 0 auto;
    width: 200px;
}
.img{
    margin-top: 20px;
    background-color: black;
    width:  200px;
    height: 200px;
    border: 1px;
    border-radius: 50%;
}
.textTitle{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: black;
}
.text{
    font-size: 20px;
     text-align: center;
    margin: 0;
color: rgb(131, 126, 126)
}
.list{
    border-top: 2px solid ;
    border-color:  rgb(61, 60, 60);
    justify-content: center;
    display: flex;
    background-color: rgb(165, 163, 163);
font-size: 20px;
}
.listItem{
    color: black;
    padding: 16px 0;
    border-right: 2px solid rgb(61, 60, 60) ;
    flex: 1 1 33.33%;
    display: flex;
   flex-direction: column;
   align-items: center;
}
.listItem:last-child{
    border: none;
}
.item{
    font-weight: 600;
}