.thead{
    background-color: black;
}
.trow{
    color: black;
    font-size: 14px;
    background: #fff;
}
.trowDoubles{
    background: #5a5858;
}
.container{
    margin: 0 auto;
    width: 500px;
}
td{
    line-height: 20px;
    text-align: center;
}